/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
p {
  height: auto;
  text-align: left;
}
/* table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
} */
table {
  border-spacing: 10px;
}
